body {
    font-family: 'Playwrite DK Loopet';
    text-align: center;
    background: linear-gradient(135deg, #ff8c8c, #ffd1d1);
    color: #333;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

body.blur {
    filter: blur(5px); 
}    

#imagenes-container {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1002;
    background: rgba(0, 0, 0, 0.5); 
}

.fondo-imagen {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px); 
    background-color: rgba(212, 98, 146, 0.5); 
    z-index: 1;
}


#contador {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    user-select: none;
    position: relative;
    z-index: 1;
}

#cuenta {
    font-size: 6em;
    color: #ff6f61;
    margin: 0;
    user-select: none;
}

#barra-progreso {
    width: 100%;
    background: #eee;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #ff6f61;
}

#progreso {
    height: 20px;
    width: 0;
    background: #ff6f61;
    border-radius: 10px;
    transition: width 0.5s ease-out;
}

.hidden {
    display: none;
}

.temblar {
    animation: temblar 0.5s infinite;
}

@keyframes temblar {
    0% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    100% { transform: translateX(-5px); }
}

.temblar-extend {
    animation: temblar-extend 3s forwards;
}

@keyframes temblar-extend {
    0% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    100% { transform: translateX(-5px); }
}

.explosion {
    animation: explosion 1s forwards;
}

@keyframes explosion {
    0% { 
        transform: scale(1); 
        opacity: 1; 
        position: relative; 
    }
    50% { 
        transform: scale(1.5) translateY(-50px); 
        opacity: 0.5; 
    }
    100% { 
        transform: scale(0) translateY(-100px); 
        opacity: 0; 
        position: absolute; 
        display: none;
    }
}

#boton-imagen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

#boton-imagen img {
    width: 150px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#boton-imagen img:hover {
    transform: scale(1.2);
}

#boton-imagen img:active {
    transform: scale(0.9);
}

#gifs-adicionales {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 1000;
    gap: 250px;
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.gif-adicional {
    width: 300px;
    cursor: pointer;
}

.gif-adicional:hover {
    transform: scale(1.2);
}

#flecha-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); 
    z-index: 1000;
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.flecha {
    width: 200px;
    transition: transform 0.3s ease;
}

.cerrar {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 40px;
    height: 40px;
    background-color: #ff6f61; 
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; 
    color: white;
    z-index: 1003;
    font-family: Arial, sans-serif; 
    transform: rotate(0deg);
}

.cerrar:hover {
    background-color: #ff4c4c;
}

.cerrar:active {
    transform: scale(0.9); 
}


#mensaje {
    font-size: 4em;
    color: #ff6f61;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    user-select: none;
    text-align: center;
}

#imagenes-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1002;
    display: none; 
}

.imagen {
    display: none; 
    position: relative;
    width: 400px; 
    height: auto;
    background-color: white; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 10px; 
    z-index: 2; 
}

.imagen img {
    width: 100%; 
    height: auto; 
    border-radius: 10px; 
}


.cerrar {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 40px;
    height: 40px;
    background-color: #ff6f61; 
    border-radius: 50%;
    cursor: pointer;
    z-index: 1003;
}

.cerrar:hover {
    background-color: #ff4c4c; 
}
